<div class="container mt-2">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card h-100">
                <!-- <img src="https://mdbootstrap.com/img/new/standard/city/044.jpg" class="card-img-top" alt="..." /> -->
                <div class="card-body">
                    <h5 class="card-title">Punto de venta</h5>
                    <p class="card-text">
                        Control de ventas
                    </p>
                </div>
                <div class="card-footer">
                    <a href="/ventas" type="button" class="btn btn-outline-primary">
                    Ir a control de ventas
                    </a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <!-- <img src="https://mdbootstrap.com/img/new/standard/city/043.jpg" class="card-img-top" alt="..." /> -->
                <div class="card-body">
                    <h5 class="card-title">Inventario</h5>
                    <p class="card-text">
                        Administración y control de inventario.
                    </p>
                </div>
                <div class="card-footer">
                    <a href="/inventario" type="button" class="btn btn-outline-primary">
                    Ir al sistema de inventario
                    </a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <!-- <img src="https://mdbootstrap.com/img/new/standard/city/042.jpg" class="card-img-top" alt="..." /> -->
                <div class="card-body">
                    <h5 class="card-title">Reportes</h5>
                    <p class="card-text">
                        Sistema de reportes
                    </p>
                </div>
                <div class="card-footer">
                    <a href="/reportes" type="button" class="btn btn-outline-primary">
                    Ir al sistema de Reportes
                    </a>
                </div>
            </div>
        </div>

    </div>
</div>